### Setup

In [2]:
import sqlite3
import pandas as pd
import numpy as np
# import pysradb as psra
from pysradb.search import SraSearch, EnaSearch, GeoSearch

/home/jho5ze/.local/lib/python3.8/site-packages/pysradb/utils.py:14: TqdmExperimentalWarning: Using `tqdm.autonotebook.tqdm` in notebook mode. Use `tqdm.tqdm` instead to force console mode (e.g. in jupyter console)
  from tqdm.autonotebook import tqdm

In [12]:
x = SraSearch(return_max=1000, query="Transcriptome Analysis")
x.search()
x = x.get_df()
x

100%|██████████| 1000/1000 [00:34<00:00, 29.37it/s]

,study_accession,experiment_accession,experiment_title,sample_taxon_id,sample_scientific_name,experiment_library_strategy,experiment_library_source,experiment_library_selection,sample_accession,sample_alias,experiment_instrument_model,pool_member_spots,run_1_size,run_1_accession,run_1_total_spots,run_1_total_bases
0,SRP344499,SRX12967959,CDSs of Adiantum flabellulatum gametocyte,872337,Adiantum flabellulatum,RNA-Seq,TRANSCRIPTOMIC,Oligo-dT,SRS10909271,MERGE ALL SAMPLE,Sequel,231705,52779868,SRR16768024,231705,194628012
1,SRP344426,SRX12963949,GSM5668884: GRA6_TEFF_4; Mus musculus; RNA-Seq,10090,Mus musculus,RNA-Seq,TRANSCRIPTOMIC,cDNA,SRS10905616,GSM5668884,Illumina HiSeq 4000,31168024,589160072,SRR16763848,31168024,1527233176
2,SRP344426,SRX12963948,GSM5668883: GRA6_TEFF_3; Mus musculus; RNA-Seq,10090,Mus musculus,RNA-Seq,TRANSCRIPTOMIC,cDNA,SRS10905615,GSM5668883,Illumina HiSeq 4000,26356295,752236799,SRR16763849,26356295,1291458455
3,SRP344426,SRX12963947,GSM5668882: GRA6_TEFF_2; Mus musculus; RNA-Seq,10090,Mus musculus,RNA-Seq,TRANSCRIPTOMIC,cDNA,SRS10905614,GSM5668882,Illumina HiSeq 4000,24834727,709243482,SRR16763850,24834727,1216901623
4,SRP344426,SRX12963946,GSM5668881: GRA6_TEFF_1; Mus musculus; RNA-Seq,10090,Mus musculus,RNA-Seq,TRANSCRIPTOMIC,cDNA,SRS10905612,GSM5668881,Illumina HiSeq 4000,25106867,718367618,SRR16763851,25106867,1230236483
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,SRP344246,SRX12902234,GSM5666002: MCF7 cells treated with 0.96 uM SB...,9606,Homo sapiens,RNA-Seq,TRANSCRIPTOMIC,cDNA,SRS10844446,GSM5666002,NextSeq 550,1018782,62318981,SRR16701685,1018782,50939100
996,SRP344246,SRX12902233,GSM5666001: MCF7 cells treated with 24.96 uM M...,9606,Homo sapiens,RNA-Seq,TRANSCRIPTOMIC,cDNA,SRS10844441,GSM5666001,NextSeq 550,788372,48303415,SRR16701686,788372,39418600
997,SRP344246,SRX12902232,GSM5666000: MCF7 cells treated with 10 uM SB1-...,9606,Homo sapiens,RNA-Seq,TRANSCRIPTOMIC,cDNA,SRS10844438,GSM5666000,NextSeq 550,452136,27744646,SRR16701687,452136,22606800
998,SRP344246,SRX12902231,GSM5666567: MDAMB231 cells with knockout of NT...,9606,Homo sapiens,RNA-Seq,TRANSCRIPTOMIC,cDNA,SRS10844437,GSM5666567,NextSeq 550,790208,54898802,SRR16701688,790208,51363520
999,SRP344246,SRX12902230,GSM5666566: MDAMB231 cells with knockout of MI...,9606,Homo sapiens,RNA-Seq,TRANSCRIPTOMIC,cDNA,SRS10844439,GSM5666566,NextSeq 550,393189,27252057,SRR16701689,393189,25557285

### Pysradb approach

In [2]:
x = SraSearch(return_max=150, query="MG1655 RNA-Seq paired stranded") #Escherichia dRNA-Seq")
x.search()
x = x.get_df()
# x.sample_scientific_name = x.sample_scientific_name.apply(lambda row: row.replace(" str. ", " strain="))#.run_1_accession.unique()
x.study_accession.unique()

100%|██████████| 1/1 [00:00<00:00,  5.33it/s]

array(['SRP235283'], dtype=object)

In [3]:
x

,study_accession,experiment_accession,experiment_title,sample_taxon_id,sample_scientific_name,experiment_library_strategy,experiment_library_source,experiment_library_selection,sample_accession,sample_alias,experiment_instrument_model,pool_member_spots,run_1_size,run_1_accession,run_1_total_spots,run_1_total_bases
0,SRP235283,SRX7291196,GSM4211192: WT rep2_21°C; Escherichia coli; RN...,562,Escherichia coli,RNA-Seq,TRANSCRIPTOMIC,cDNA,SRS5784357,GSM4211192,Illumina HiSeq 2000,17461337,790322623,SRR10612035,17461337,1729601877

In [7]:
x[x.study_accession == "SRP235283"].to_csv("Escherichia_coli_representative_sample_info.csv")

In [8]:
x[(x.run_1_accession.apply(lambda row: row.replace("SRR", "")).astype(int) >=794848) & (x.run_1_accession.apply(lambda row: row.replace("SRR", "")).astype(int) <= 794850)].to_csv("Escherichia_query_info.csv")

In [5]:
x.head(20).to_csv("Helicobacter_query_info.csv") #["experiment_title"]

In [18]:
x = EnaSearch(2, 20, "tuberculosis RNA")
x.search()
x = x.get_df()

In [19]:
x.head()

,study_accession,experiment_accession,experiment_title,description,tax_id,scientific_name,library_strategy,library_source,library_selection,sample_accession,sample_title,instrument_model,run_accession,read_count,base_count
0,PRJNA239223,SRX475349,Illumina HiSeq 2000 sequencing; GSM1333720: Ye...,Illumina HiSeq 2000 sequencing; GSM1333720: Ye...,502800,Yersinia pseudotuberculosis YPIII,RNA-Seq,TRANSCRIPTOMIC,cDNA,SAMN02650479,Yersinia pseudotuberculosis RNA-seq_early infe...,Illumina HiSeq 2000,SRR1175455,88333445,17843355890
1,PRJNA239223,SRX475349,Illumina HiSeq 2000 sequencing; GSM1333720: Ye...,Illumina HiSeq 2000 sequencing; GSM1333720: Ye...,502800,Yersinia pseudotuberculosis YPIII,RNA-Seq,TRANSCRIPTOMIC,cDNA,SAMN02650479,Yersinia pseudotuberculosis RNA-seq_early infe...,Illumina HiSeq 2000,SRR1175456,70676677,14276688754
2,PRJNA239223,SRX475350,Illumina HiSeq 2000 sequencing; GSM1333721: Y....,Illumina HiSeq 2000 sequencing; GSM1333721: Y....,502800,Yersinia pseudotuberculosis YPIII,RNA-Seq,TRANSCRIPTOMIC,cDNA,SAMN02650477,Y. pseudotuberculosis RNA-seq _persistent infe...,Illumina HiSeq 2000,SRR1175457,96794171,19552422542
3,PRJNA239223,SRX475350,Illumina HiSeq 2000 sequencing; GSM1333721: Y....,Illumina HiSeq 2000 sequencing; GSM1333721: Y....,502800,Yersinia pseudotuberculosis YPIII,RNA-Seq,TRANSCRIPTOMIC,cDNA,SAMN02650477,Y. pseudotuberculosis RNA-seq _persistent infe...,Illumina HiSeq 2000,SRR1175458,97439250,19682728500
4,PRJNA239223,SRX475351,Illumina HiSeq 2000 sequencing; GSM1333722: Y....,Illumina HiSeq 2000 sequencing; GSM1333722: Y....,502800,Yersinia pseudotuberculosis YPIII,RNA-Seq,TRANSCRIPTOMIC,cDNA,SAMN02650480,"Y. pseudotuberculosis RNA-seq_early infection,...",Illumina HiSeq 2000,SRR1175459,87517953,17678626506

### Sqlite approach

In [3]:
con = sqlite3.connect("/sfs/qumulo/qproject/biocomplexity/nssac/operons/SRAmetadb.sqlite")
cursor = con.cursor()
cursor.execute("select name from sqlite_master where type='table'")
print(cursor.fetchall())
# cur = con.cursor()

[('metaInfo',), ('submission',), ('study',), ('sample',), ('experiment',), ('run',), ('sra',), ('sra_ft',), ('sra_ft_content',), ('sra_ft_segments',), ('sra_ft_segdir',), ('col_desc',), ('fastq',)]

In [27]:
df = pd.read_sql_query("SELECT * FROM sample", con)
df.columns

Index(['sample_ID', 'sample_alias', 'sample_accession', 'broker_name',
       'center_name', 'taxon_id', 'scientific_name', 'common_name',
       'anonymized_name', 'individual_name', 'description', 'sra_link',
       'sample_url_link', 'xref_link', 'sample_entrez_link', 'ddbj_link',
       'ena_link', 'sample_attribute', 'submission_accession',
       'sradb_updated'],
      dtype='object')

In [28]:
df.head()

,sample_ID,sample_alias,sample_accession,broker_name,center_name,taxon_id,scientific_name,common_name,anonymized_name,individual_name,description,sra_link,sample_url_link,xref_link,sample_entrez_link,ddbj_link,ena_link,sample_attribute,submission_accession,sradb_updated
0,1.0,SAMD00016353,DRS000001,None,BioSample,645657.0,Bacillus subtilis subsp. natto BEST195,None,None,None,None,None,None,None,None,None,None,sample_name: DRS000001 || strain: BEST195 || s...,DRA000001,2016-11-20 05:18:07
1,2.0,SAMD00002791,DRS000002,None,BioSample,224308.0,Bacillus subtilis subsp. subtilis str. 168,None,None,None,None,None,None,None,None,None,None,sample_name: DRS000002 || strain: str. 168 || ...,DRA000002,2016-11-20 05:18:07
2,3.0,SAMD00013986,DRS000003,None,BioSample,9606.0,Homo sapiens,None,None,None,None,None,None,None,None,None,None,sample_name: DRS000003,DRA000003,2016-11-20 05:18:07
3,4.0,SAMD00002711,DRS000004,None,BioSample,9606.0,Homo sapiens,None,None,None,None,None,None,None,None,None,None,sample_name: DRS000004,DRA000004,2016-11-20 05:18:07
4,5.0,SAMD00010993,DRS000005,None,BioSample,9606.0,Homo sapiens,None,None,None,None,None,None,None,None,None,None,sample_name: DRS000005,DRA000005,2016-11-20 05:18:07

In [29]:
df = pd.read_sql_query("SELECT * FROM study", con)
print(df.columns)
df.head()

Index(['study_ID', 'study_alias', 'study_accession', 'study_title',
       'study_type', 'study_abstract', 'broker_name', 'center_name',
       'center_project_name', 'study_description', 'related_studies',
       'primary_study', 'sra_link', 'study_url_link', 'xref_link',
       'study_entrez_link', 'ddbj_link', 'ena_link', 'study_attribute',
       'submission_accession', 'sradb_updated'],
      dtype='object')

,study_ID,study_alias,study_accession,study_title,study_type,study_abstract,broker_name,center_name,center_project_name,study_description,...,primary_study,sra_link,study_url_link,xref_link,study_entrez_link,ddbj_link,ena_link,study_attribute,submission_accession,sradb_updated
0,1.0,DRP000001,DRP000001,Bacillus subtilis subsp. natto BEST195 genome ...,Whole Genome Sequencing,<b><i>Bacillus subtilis</i> subsp. <i>natto</i...,None,KEIO,Bacillus subtilis subsp. natto BEST195,None,...,None,None,None,pubmed: 20398357 || pubmed: 25329997,None,None,None,None,DRA000001,2016-11-20 16:42:15
1,2.0,DRP000002,DRP000002,Model organism for prokaryotic cell differenti...,Whole Genome Sequencing,Whole genome resequencing of B. subtilis subti...,None,KEIO,Bacillus subtilis subsp. subtilis str. 168,Whole genome resequencing of B. subtilis subti...,...,None,None,None,pubmed: 20398357,None,None,None,None,DRA000002,2017-09-21 20:23:35
2,3.0,DRP000003,DRP000003,Comprehensive identification and characterizat...,Transcriptome Analysis,Comprehensive identification and characterizat...,None,UT-MGS,Integrative Transcriptome Analysis,Although recent studies have revealed that the...,...,None,None,DBTSS: http://dbtss.hgc.jp/,pubmed: 20400770,None,None,None,None,DRA000003,2016-11-20 16:42:16
3,4.0,DRP000004,DRP000004,Comprehensive identification and characterizat...,Transcriptome Analysis,Comprehensive identification and characterizat...,None,UT-MGS,Integrateve Transcriptome Analysis,Although recent studies have revealed that the...,...,None,None,DBTSS: http://dbtss.hgc.jp/,pubmed: 20400770,None,None,None,None,DRA000004,2016-11-20 16:42:16
4,5.0,DRP000005,DRP000005,Comprehensive identification and characterizat...,Transcriptome Analysis,Comprehensive identification and characterizat...,None,UT-MGS,Integrative Transcriptome Analysis,Although recent studies have revealed that the...,...,None,None,DBTSS: http://dbtss.hgc.jp/,pubmed: 20400770,None,None,None,None,DRA000005,2016-11-20 16:42:16

In [4]:
df = pd.read_sql_query("SELECT * FROM experiment", con)
print(df.columns)
df.head()

Index(['experiment_ID', 'bamFile', 'fastqFTP', 'experiment_alias',
       'experiment_accession', 'broker_name', 'center_name', 'title',
       'study_name', 'study_accession', 'design_description', 'sample_name',
       'sample_accession', 'sample_member', 'library_name', 'library_strategy',
       'library_source', 'library_selection', 'library_layout',
       'targeted_loci', 'library_construction_protocol', 'spot_length',
       'adapter_spec', 'read_spec', 'platform', 'instrument_model',
       'platform_parameters', 'sequence_space', 'base_caller',
       'quality_scorer', 'number_of_levels', 'multiplier', 'qtype', 'sra_link',
       'experiment_url_link', 'xref_link', 'experiment_entrez_link',
       'ddbj_link', 'ena_link', 'experiment_attribute', 'submission_accession',
       'sradb_updated'],
      dtype='object')

,experiment_ID,bamFile,fastqFTP,experiment_alias,experiment_accession,broker_name,center_name,title,study_name,study_accession,...,qtype,sra_link,experiment_url_link,xref_link,experiment_entrez_link,ddbj_link,ena_link,experiment_attribute,submission_accession,sradb_updated
0,1.0,None,None,DRX000001,DRX000001,None,KEIO,B. subtilis subsp. natto genome sequencing Sep...,DRP000001,DRP000001,...,None,None,None,None,None,None,None,None,DRA000001,2016-11-19 08:00:55
1,2.0,None,None,DRX000002,DRX000002,None,KEIO,B. subtilis subsp. subtilis genome resequencin...,DRP000002,DRP000002,...,None,None,None,None,None,None,None,None,DRA000002,2016-11-19 08:00:55
2,3.0,None,None,DRX000003,DRX000003,None,UT-MGS,DLD1_normoxia_nucleosome,DRP000003,DRP000003,...,None,None,None,None,None,None,None,None,DRA000003,2016-11-19 08:00:55
3,4.0,None,None,DRX000004,DRX000004,None,UT-MGS,DLD1_polysome,DRP000004,DRP000004,...,None,None,None,None,None,None,None,None,DRA000004,2016-11-19 08:00:55
4,5.0,None,None,DRX000005,DRX000005,None,UT-MGS,DLD1_cytoplasmic,DRP000005,DRP000005,...,None,None,None,None,None,None,None,None,DRA000005,2016-11-19 08:00:55

In [14]:
df.study_type.value_counts()

Other                       110102
Whole Genome Sequencing      70056
Metagenomics                 33643
Transcriptome Analysis       32561
Population Genomics            796
Epigenetics                    620
Exome Sequencing               281
Cancer Genomics                181
Pooled Clone Sequencing         31
Synthetic Genomics              10
Transcriptome Sequencing         2
Whole Genome Sequencing          1
Name: study_type, dtype: int64

In [22]:
df.tail()

         100
8199295  100
8199296  100
8199297  100
8199298  100
8199299  100

In [ ]:
df[df.study_type == "Transcriptome Analysis"]

In [58]:
# table = "sample"
# cols = "scientific_name,sample_accession"
# cursor.execute(f"create virtual table {table}_ft using fts5({cols})")
# cursor.execute(f"insert into {table}_ft select {cols} from {table}")

# table = "experiment"
# cols = "title,design_description,sample_accession,library_name,library_strategy"
# cursor.execute(f"create virtual table {table}_ft using fts5({cols})")
# cursor.execute(f"insert into {table}_ft select {cols} from {table}")

In [32]:
cols = "title,design_description,sample_accession,library_name,library_strategy"
exp_map = {i:ix for ix, i in enumerate(cols.split(","))}

### Query Process

In [49]:
# def search_genus_name(genus):

genus="Cronobacter"

query = f"""SELECT sample_accession 
        FROM sample_ft
        WHERE scientific_name
        MATCH '{genus}'
        """
samples = ",".join(["'" + i[0] + "'" for i in cursor.execute(query).fetchall()])

query = f"""SELECT *
        FROM experiment_ft
        WHERE sample_accession IN ({samples})
        AND experiment_ft MATCH 'RNA AND seq'
        """

# print(query)

results = cursor.execute(query).fetchall()

positive_terms = "wild WT".split()
negative_terms = "plasmid".split()

new_results = []
for i in results:
    descriptive_text = i[exp_map["title"]] + i[exp_map["library_name"]]
    add = True
    for n in negative_terms:
        if n in descriptive_text:
            add = False
            break
    if add:
        new_results.append(i)

results = new_results

samples = []

for ix, i in enumerate(results):
    descriptive_text = i[exp_map["title"]] + i[exp_map["library_name"]]
    for p in positive_terms:
        if p in descriptive_text:
            samples.append(i[exp_map["sample_accession"]])
print(samples)

def get_wigs_from_ftps(ftps, path="."):
    path = Path(path)
    for file in ftps:
        extracted = False
        wget.download(file)
        file = file.split("/")[-1]
        with tarfile.open(file, "r:") as tar:
            names = tar.getmembers()
            wig_files = [n for n in names if ".wig" in n.name]
            if len(wig_files) > 0:
                tar.extractall(path=path, members=wig_files)
                
        os.remove(file)

['SRS4102342']

In [ ]:
r = cursor.execute(f"select distinct library_layout from {table}")
rs = list(r.fetchall())
rs

In [17]:
rs[0][0]

'PAIRED - NOMINAL_SDEV: 24.7558; NOMINAL_LENGTH: 163; '

In [29]:
# [[i for i in r[0].split(";") if "NOMINAL" not in i]
max([len(list(r)) for r in rs])

1

In [6]:
table = "experiment"
field = "study_accession" #"sample_accession"
query = "SRP019956"

cs = [i[0] for i in cursor.execute(f"select * from {table}").description]
r = cursor.execute(f"select * from {table} where {field} = '{query}'")
rs = list(r.fetchone())
for ix , i in enumerate(cs):
    if True: # i in "library_strategy title design_description sample_accession".split():
        print(f"{i}: {rs[ix]}")

experiment_ID: 1225035.0
bamFile: None
fastqFTP: None
experiment_alias: GSM1104375_1
experiment_accession: SRX254733
broker_name: None
center_name: GEO
title: GSM1104375: Galaxy1-[CV104_pHDB3_5.txt]; Escherichia coli str. K-12 substr. MG1655; RNA-Seq
study_name: GSE45443
study_accession: SRP019956
design_description: None
sample_name: GSM1104375
sample_accession: SRS403764
sample_member: None
library_name: None
library_strategy: RNA-Seq
library_source: TRANSCRIPTOMIC
library_selection: cDNA
library_layout: SINGLE -
targeted_loci: None
library_construction_protocol: None
spot_length: None
adapter_spec: None
read_spec: None
platform: ILLUMINA
instrument_model: Illumina HiSeq 2000
platform_parameters: INSTRUMENT_MODEL: Illumina HiSeq 2000
sequence_space: None
base_caller: None
quality_scorer: None
number_of_levels: None
multiplier: None
qtype: None
sra_link: None
experiment_url_link: GEO Sample: http://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSM1104375
xref_link: gds: 301104375
experiment_entrez_link: None
ddbj_link: None
ena_link: None
experiment_attribute: GEO Accession: GSM1104375
submission_accession: SRA071482
sradb_updated: 2016-11-19 11:12:01

In [ ]:
"""
may want to use the sample scientific name to boost the search of the experiment
"""

### Scratch Work

In [ ]:
for ix , i in enumerate(cs):
    if True: # i in "library_strategy title design_description sample_accession".split():
        print(f"{i}: {rs[ix]}\n")

In [11]:
def has_rna(row):
#     print(row)
    if row is None:
        return False
    if "RNA" in row or "rna" in row:
        return True
    else:
        return False

In [7]:
table.columns

Index(['sra_ID', 'SRR_bamFile', 'SRX_bamFile', 'SRX_fastqFTP', 'run_ID',
       'run_alias', 'run_accession', 'run_date', 'updated_date', 'spots',
       'bases', 'run_center', 'experiment_name', 'run_url_link',
       'run_entrez_link', 'run_attribute', 'experiment_ID', 'experiment_alias',
       'experiment_accession', 'experiment_title', 'study_name', 'sample_name',
       'design_description', 'library_name', 'library_strategy',
       'library_source', 'library_selection', 'library_layout',
       'library_construction_protocol', 'adapter_spec', 'read_spec',
       'platform', 'instrument_model', 'instrument_name',
       'platform_parameters', 'sequence_space', 'base_caller',
       'quality_scorer', 'number_of_levels', 'multiplier', 'qtype',
       'experiment_url_link', 'experiment_entrez_link', 'experiment_attribute',
       'sample_ID', 'sample_alias', 'sample_accession', 'taxon_id',
       'common_name', 'anonymized_name', 'individual_name', 'description',
       'sample_url_link', 'sample_entrez_link', 'sample_attribute', 'study_ID',
       'study_alias', 'study_accession', 'study_title', 'study_type',
       'study_abstract', 'center_project_name', 'study_description',
       'study_url_link', 'study_entrez_link', 'study_attribute',
       'related_studies', 'primary_study', 'submission_ID',
       'submission_accession', 'submission_comment', 'submission_center',
       'submission_lab', 'submission_date', 'sradb_updated'],
      dtype='object')

In [9]:
table["run_url_link run_entrez_link experiment_ID experiment_accession experiment_url_link experiment_entrez_link sample_ID sample_accession sample_url_link sample_entrez_link".split()].head(2)

,run_url_link,run_entrez_link,experiment_ID,experiment_accession,experiment_url_link,experiment_entrez_link,sample_ID,sample_accession,sample_url_link,sample_entrez_link
0,None,None,1.0,DRX000001,None,None,1.0,DRS000001,None,None
1,None,None,2.0,DRX000002,None,None,2.0,DRS000002,None,None

In [12]:
x = table[table["study_type"].apply(lambda row: has_rna(row))]

In [19]:
table.library_strategy.unique()

array(['WGS', 'FL-cDNA', 'CLONE', 'OTHER', 'POOLCLONE', 'ChIP-Seq', 'EST',
       'MNase-Seq', 'WCS', 'AMPLICON', 'RNA-Seq', 'CTS', 'WXS',
       'Bisulfite-Seq', 'MeDIP-Seq', 'miRNA-Seq', 'WGA', None,
       'FAIRE-seq', 'CLONEEND', 'ncRNA-Seq', 'RIP-Seq', 'RAD-Seq',
       'DNase-Hypersensitivity', 'SELEX', 'MBD-Seq', 'Targeted-Capture',
       'Tn-Seq', 'ATAC-seq', 'Synthetic-Long-Read',
       'Tethered Chromatin Conformation Capture', 'FINISHING', 'Hi-C',
       'ChIP', 'MRE-Seq', 'VALIDATION',
       'Targeted resequencing of human colorectal cancer (CRC) stem-like cells (CCSCs), stem-like circulating tumor cells (cCCSCs) and metastatic colorectal stem cells (mCCSCs).',
       'other', 'ChIA-PET'], dtype=object)

In [13]:
x["run_url_link run_entrez_link experiment_ID experiment_accession experiment_url_link experiment_entrez_link sample_ID sample_accession sample_url_link sample_entrez_link".split()].head(2)

Empty DataFrame
Columns: [run_url_link, run_entrez_link, experiment_ID, experiment_accession, experiment_url_link, experiment_entrez_link, sample_ID, sample_accession, sample_url_link, sample_entrez_link]
Index: []